# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# Environment
.env
.env.local
.env.*.local

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.sass-cache/
/coverage
.DS_Store
Thumbs.db
